<h2>instalover is easy to use. Just text these commands to <a href="sms:+18572390085">8572390085</a>:</h2>

<ul>
  <li><span><%= COMMANDS[:new_date] %></span> &mdash; request a new date</li>
  <li><span><%= COMMANDS[:ok] %></span> &mdash; confirm time and place for your date</li>
  <li><span><%= COMMANDS[:accept] %></span> &mdash; accept a date request</li>
  <li><span><%= COMMANDS[:sext] %> [your message]</span> &mdash; send a text to your date </li>
  <li><span><%= COMMANDS[:quit] %></span> &mdash; cancel your account</li>
</ul>

<h2>Or get fancy with these advanced commands:</h2>

<ul>
  <li><span><%= COMMANDS[:retry] %></span> &mdash; ask more people out on a date to the same place</li>
  <li><span><%= COMMANDS[:women_only] %></span> &mdash; only ask out women</li>
  <li><span><%= COMMANDS[:men_only] %></span> &mdash; only ask out men</li>
  <li><span><%= COMMANDS[:other_only] %></span> &mdash; only ask out people who identify as something else</li>
  <li><span><%= COMMANDS[:anything] %></span> &mdash; ask out everything we have</li>
</ul>
