<table>
  <thead>
    <th>From</th>
    <th>With</th>
    <th>Message</th>
  </thead>
  <tbody>
    <% Dfln.all.each do |dfln| %>
      <tr>
        <td><%= dfln.user.try(:name) %> (<%= dfln.user.try(:phone_number) %>)</td>
        <td><%= dfln.about_whom.try(:name) %> (<%= dfln.about_whom.try(:phone_number) %>)</td>
        <td><%= dfln.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>
