<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="instalover is an instant blind dating service for interesting people in Boston, Brookline, Cambridge, Somerville and surrounding areas.">
  <meta name="viewport" content = "initial-scale = 0.55,user-scalable = yes">
  <title>instalover, because love can't wait.</title>
  <%= stylesheet_link_tag :flutie, 'screen', :media => 'all' %>
  <%= stylesheet_link_tag 'mobile', :media => 'only screen and (max-device-width: 480px)' %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19160270-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body class="<%= body_class %> <%= yield :additional_body_class %>">
  <div id="header">
    <h1><a href="/">instalover</a></h1>
  </div>

  <div id="container">
    <%= render :partial => 'shared/flashes' -%>
    <%= yield %>
  </div>

  <div id="tweets"><h3>One of our instalovers reported back&hellip;</h3></div>

  <div id="footer">
    <p><a href="/pages/about">By JMLD</a> / <a href="/pages/what-is-this">What is this?</a> / <a href="/pages/how-does-this-work">How does it work?</a> / <a href="http://twitter.com/instalover">@instalover</a> / <a href="/pages/terms">Terms</a></p>
  </div>

  <%= render :partial => 'shared/javascript' %>
</body>
</html>
