<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="instalover is an instant blind date service for interesting people in Boston, Brookline, Cambridge, and Somerville.">
  <meta name="viewport" content = "initial-scale = 0.6,user-scalable = yes">
  <title>instalover, because love can't wait.</title>
  <%= stylesheet_link_tag :flutie, 'screen', :media => 'all' %>
  <%= stylesheet_link_tag 'mobile', :media => 'only screen and (max-device-width: 480px)' %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= body_class %>">
  <div id="banner"><p>During the week or so after the Rails Rumble ends, you might get matched with users who are far away from you. Feel free to sign up and play with our app!</p></div>

  <div id="header">
    <h1><a href="/">instalover</a></h1>
  </div>

  <div id="container">
    <%= render :partial => 'shared/flashes' -%>
    <%= yield %>
  </div>

  <div id="tweets"><h3>One of our instalovers reported back&hellip;</h3></div>

  <div id="footer">
    <p><a href="/pages/about">By Jason Morrison&rsquo;s Little Death</a> / <a href="http://twitter.com/instalover">@instalover</a> / <a href="/pages/terms">Terms of Service</a></p>
  </div>

  <%= render :partial => 'shared/javascript' %>
</body>
</html>
