<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="instalover is an instant blind date service for interesting people in Boston, Brookline, Cambridge, and Somerville.">
  <meta name="viewport" content = "initial-scale = 0.6,user-scalable = yes">
  <title>Instalover. Because love can't wait.</title>
  <%= stylesheet_link_tag :flutie, 'screen', :media => 'all' %>
  <%= stylesheet_link_tag 'mobile', :media => 'only screen and (max-device-width: 480px)' %>
  <%= javascript_include_tag "jquery", "jquery-ui", "prefilled_input", "rails", "application" %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= body_class %>">
  <div id="header">
    <h1><a href="/">instalover</a></h1>
  </div>

  <div id="container">
    <%= render :partial => 'shared/flashes' -%>
    <%= yield %>
  </div>

  <div id="footer">
    <p><a href="http://rumbl.in/g/jason-morrison-s-little-death">By Jason Morrison&rsquo;s Little Death</a> / <a href="/pages/terms">Terms of Service</a></p>
  </div>

  <%= render :partial => 'shared/javascript' %>
</body>
</html>
